/********************* SHOP DASHBOARD CSS *********************/
@media print {
	body * {
		visibility: hidden;
	}
	#section-to-print, #section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.col-form-label {
	font-weight: bold;
}

.col-form-label.light {
	font-weight: normal;
}
